/* Game main page */
.gamepage{
    background: rgb(9, 18, 28);
    height: 100vh;
    margin: 0;
}

.gamepage_main_cnt{
    width: 98%;
    padding: 1%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}


/* game page top part */
.gamepage_main_cnt_top{
    width: 98%;
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(0, 255, 0, 0.667);
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.505);
    border-radius: 20px;
    padding: 1%;
    gap: 1%;
}

.gamepage_top_left{
    width: 50%;
    border-radius: 20px;
    height: 90%;
    background: rgba(0, 255, 0, 0.667);
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.671);
    padding: 1%;
}

.gamepage_top_left_top{
   width: 100%;
   text-align: center;
   font-family: monospace;
   color: white;
}

.gamepage_top_left_top p{
    font-size: 18px;
}

.gamepage_top_left_top .percent{
    font-size: 40px;
    margin-top: -5%;
}

.gamepage_top_left_bottom{
    width: 100%;
    display: flex;
}

.gamepage_top_left_bottom a{
    padding: 8% 10%;
    border-radius: 20px;
    background: rgba(0, 255, 0, 0.322);
    border: 2px solid rgba(0, 255, 0, 0.667);
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 18px;
    transition: background 0.3s ease;
}

.gamepage_top_left_bottom a:hover{
    background: rgb(3, 164, 0);
}

.gamepage_top_middle{
    height: fit-content;
    width: 60%;
}

.gamepage_top_middle img{
    width: 100%;
    border: 1px solid rgba(55, 255, 0, 0.829);
    border-radius: 20px;
    filter: sepia(100%) saturate(500%) hue-rotate(90deg);
}

.gamepage_top_right{ 
    width: 50%;
    border-radius: 20px;
    padding: 1%;
    height: 90%;
    background: rgba(0, 255, 0, 0.667);
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.671);
}

#gamepage_top_right_bottom a{
    padding: 8% 3%;
}

/* game page bottom part */
.gamepage_main_cnt_bottom{
   padding: 2% 0%;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 10px;
}

.gamepage_main_cnt_bottom a{
    padding: 10px 20px;
    text-decoration: none;
    font-family: monospace;
    border: 2px solid rgba(0, 255, 0, 0.667);
    box-shadow: 0px 0px 5px rgba(0, 255, 0, 0.667);
    border-radius: 10px;
    color: rgba(0, 255, 0, 0.667);
    text-shadow: 0px 0px 5px rgb(0, 255, 0);
    transition: background 0.2s ease, color 0.2s ease;
    text-align: center;
    font-size: 16px;
}

.gamepage_main_cnt_bottom a:hover{
    background: rgb(0, 218, 0);
    color: white;
}

#emergency_button{
    color: rgba(255, 0, 0, 0.667);
    text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.667);
    border: 2px solid rgba(255, 0, 0, 0.667);
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.877);
}

#emergency_button:hover{
    background: rgb(218, 0, 0);
    color: white;
}

/* CCTV page */
/*-----------------------------------------------*/

/* atmosphere control page - atmosphere.html */

.atmospherepage{
    background: rgb(9, 18, 28);
    margin: 0;
    height: 100vh;
}

.atmosphere_main_cnt{
    width: 98%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Top part */
.atmosphere_top_cnt{
    border: 2px solid rgba(0, 255, 0, 0.667);
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.505);
    padding: 1%;
    color: white;
    font-family: monospace;
    border-radius: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.atmosphere_top_cards{
   background: rgba(0, 255, 0, 0.667);
   padding: 1% 2%;
   padding-bottom: 4%;
   display: grid;
   place-items: center;
   border-radius: 20px;
   height: fit-content;
   box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.505);
}

.percent_1{
    font-size: 40px;
    margin-top: -10px;
}

.atmosphere_top_cards .stability{
    height: fit-content;
    padding: 0px 20px;
    background: rgb(6, 0, 50);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 10px;
    margin-top: -30px;
}

.stability div{
    width: 10px;
    height: 10px;
    background: rgb(0, 255, 0);
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 30px;
}

/* Bottom Part */

.atmosphere_bottom_cnt{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.atmosphere_bottom_cnt a{
    text-decoration: none;
    font-family: monospace;
    color: rgba(0, 255, 0, 0.667);
    text-shadow: 0px 0px 5px rgb(0, 255, 0);
    padding: 1% 2%;
    border: 2px solid rgba(0, 255, 0, 0.667);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 255, 0, 0.667);
    transition: background 0.2s ease, color 0.2s ease;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 16px;
}

.atmosphere_bottom_cnt a:hover{
    background: rgba(0, 255, 0, 0.667);
    color: white;
}

/* Atmosphere
   Oxygen control page 
   atmosphere-oxygen.html
*/

/* Top part */
.atmosphere_oxygenpage{
    background: rgb(9, 18, 28);
    margin: 0;
    height: 100vh;
}

.atmosphere_oxygen_main_cnt{
    width: 98%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.atmosphere_oxygen_top{
    border: 2px solid rgba(0, 255, 0, 0.667);
    box-shadow: 0px 0px 5px rgba(0, 255, 0, 0.667);
    border-radius: 20px;
    padding: 1%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.atmosphere_oxygen_top div{
   background: rgba(0, 255, 0, 0.667);
   box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.667);
   border: 2px solid rgb(0, 255, 0);
   padding: 1%;
   padding-bottom: 0;
   border-radius: 20px;
   font-family: monospace;
   color: white;
   text-align: center;
   padding-top: 0;
   padding-bottom: 1%;
}

.atmosphere_oxygen_top .cards_bottom{
    margin-top: -35px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    font-size: 11px;
    background: rgba(0, 0, 0, 0.532);
    border: 1.5px solid rgb(0, 251, 50);
}

.atmosphere_oxygen_top .percent_2{
    font-size: 40px;
    margin-top: -10px;
}

.atmosphere_oxygen_top #right_arrow{
   color: rgba(255, 0, 0, 0.667);
   text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.747);
   font-size: 60px;
   margin-top: auto;
   margin-bottom: auto;
}

.atmosphere_oxygen_top #plus{
   color: rgba(38, 0, 255, 0.667);
   text-shadow: 0px 0px 10px rgba(0, 60, 255, 0.747);
   font-size: 60px;
   margin-top: auto;
   margin-bottom: auto;
}

.water{
   width: 50%;
}

.hydrogen{
    width: 50%;
}

.oxygen{
    width: 50%;
}

/* Middle part */
.atmosphere_oxygen_middle{
    margin-top: 10px;
    width: 98%;
    padding: 1%;
    padding-top: 0;
    color: white;
    font-family: monospace;
    border-radius: 20px;
    height: fit-content;
    border-top: 2px solid rgba(0, 255, 0, 0.667);
    box-shadow: 0px -10px 10px rgba(0, 255, 0, 0.429);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    place-items: center;
}

.switch_cnt{
    text-align: center;
}

/* Slide switch style */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border: 2px solid rgba(255, 0, 0, 0.813);
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.751);
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: rgba(255, 0, 0, 0.813);
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.667);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.667);
  border: 2px solid rgba(0, 255, 0, 0.667);
}

input:checked + .slider:before {
  box-shadow: 0px 0px 10px rgba(34, 255, 0, 0.667);
  background-color: rgba(0, 255, 0, 0.667);
  transform: translateX(30px);
}

/* Style for range */
.atmosphere_oxygen_bottom{
    width: 98%;
    padding: 1%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    place-items: center;
    border-bottom: 2px solid rgba(0, 255, 0, 0.667);
    box-shadow: 0 6px 4px -4px rgba(0, 255, 0, 0.4);
    border-radius: 20px;
}
 
.power_range_vertical{
    width: 150px;   
    height: 20px;
    appearance: none;
    transform: rotate(-90deg);
    cursor: pointer;
    background: none;
}

.power_range_vertical::-webkit-slider-runnable-track{
    height: 20px;
    background: rgba(0, 255, 0, 0.276);
    border-radius: 10px;
}

.power_range_vertical::-webkit-slider-thumb{
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 10px;
    background: rgb(0, 192, 0);
    box-shadow: 0 0 10px rgba(0,255,0,0.9);
    margin-top: -4px;
}

.range_off{
    opacity: 0.3;
    filter: grayscale(100%);
}

.range_off::-webkit-slider-thumb{
    box-shadow: none;
    background: gray;
}
